.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
}

.site-title {
    font-size: 1.5rem;
    color: rgb(23, 57, 83);
    font-weight: 700;
}

.heading {
    color: rebeccapurple;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: black;
}